<% @course.course_sections.each do |section| %>
  <div class="mb-6">
    <h2 class="text-lg font-semibold mb-3"><%= section.title %></h2>

    <% section.course_materials.each do |material| %>
      <div class="flex items-center gap-3 bg-white border border-gray-200 p-4 rounded-md shadow-sm mb-2 justify-between w-full">
        <div class="flex items-center gap-3">
          <% if material.submittable? %>
            <%= image_tag "/images/attach.png", style: "max-width: 40px;" %>
          <% elsif material.test_id.present? %>
            <%= image_tag "/images/quiz.png", style: "max-width: 40px;" %>
          <% else %>
            <% if material&.files&.first.content_type == "application/pdf" %>
              <%= image_tag "/images/pdf.png", style: "max-width: 40px;" %>
            <% else %>
              <%= image_tag "/images/docs.png", style: "max-width: 40px;" %>
            <% end %>
          <% end %>

          <div class="flex gap-2 ml-2">
            <p class="text-blue-600 font-medium">
              <% if material.submittable? %>
                <% if current_user.admin? %>
                  <%= material.title %>
                <% else %>
                  <%= link_to material.title, course_material_path(material), class: "text-blue-600 underline hover:text-blue-800" %>
                <% end %>
              <% elsif material.test_id.present? %>
                <%= button_to material.title, start_quiz_course_material_path(material),
                  method: :post,
                  class: "text-blue-600 underline hover:text-blue-800 bg-transparent border-none p-0 inline",
                  form_class: "inline" %>
              <% else %>
                <%= link_to material.title, url_for(material.files.first), target: "_blank" %>
              <% end %>
            </p>

            <% if material.files.attached? %>
              <p class="text-xs text-gray-500 flex items-center">
                <%= number_to_human_size(material.files.first.byte_size) %>
              </p>
            <% end %>
          </div>
        </div>

        <% if material.submittable? || material.test_id.present? && !current_user.admin? %>
          <% submission = StudentService.get_student_submission(current_user, material) %>

          <% if submission&.graded? %>
            <%= link_to "Оцінено", "#", class: "w-24 text-center px-3 py-1 text-sm rounded ml-2 bg-green-100 text-green-800 border border-green-300 cursor-default pointer-events-none" %>
          <% elsif submission&.file&.attached? %>
            <%= link_to "Здано", "#", class: "w-24 text-center px-3 py-1 text-sm rounded ml-2 bg-yellow-100 text-yellow-800 border border-yellow-300 cursor-default pointer-events-none" %>
          <% else %>
            <%= link_to "Не здано", "#", class: "w-24 text-center px-3 py-1 text-sm rounded ml-2 bg-red-100 text-red-800 border border-red-300 cursor-default pointer-events-none" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <hr class="border-t border-gray-200 my-4">
<% end %>
